<div className="dashboard">
  <div className="section">
    <div className="container">
      <div className="columns  has-text-centered ">
        <div className="column is-4">
          <div className="box">
            <div className="columns">
              <div className="column is-6">
                <span class="material-icons dashboard-icon has">
                  palette
                </span>
              </div>
              <div className="column is-6">
                <h2 className="title">10k</h2>
                <h3 className="subtitle">Gradients</h3>
              </div>
            </div>
          </div>
        </div>
        <div className="column is-4">
          <div className="box">
            <div className="columns">
              <div className="column is-6">
                <span class="material-icons dashboard-icon">
                  cloud_download
                </span>
              </div>
              <div className="column is-6">
                <h2 className="title">
                  20K
                </h2>
                <h3 className="subtitle">Downloads</h3>
              </div>
            </div>
          </div>
        </div>
        <div className="column is-4">
          <div className="box">
            <div className="columns">
              <div className="column is-6">
                <span class="material-icons dashboard-icon">face</span>
              </div>
              <div className="column is-6">
                <h2 className="title">60k</h2>
                <h3 className="subtitle">Visitors</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="columns">
        <div className="column is-6">
          <div className="box">
            <table className="table is-fullwidth">
              <thead>
                <tr>
                  <th>name</th>
                  <th>downloads</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>gradient 1</td>
                  <td>10</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
