<div className="login">
  <div className="container">
    <div className="section">
      <div className="columns  is-centered">
        <div className="column is-6">
          <div className="box">
            <form action="">
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control">
                  <input
                    class="input"
                    type="email"
                    placeholder="Enter Your E-mail Address"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Passowrd</label>
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Enter Your Password"
                  />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary is-fullwidth">
                    Sign to dashboard
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
