<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div className="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="https://res.cloudinary.com/dxrbrkfvv/image/upload/v1592307492/react-original_gjlpfv.png"
          alt=""
        />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/explore" class="button is-warning">
              <strong>explore</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
